
html,body{
    background-color: black;
}


.left-column{
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  height: 100vh;
  /* float: left; */
  background-color: black;
}
.mid-column{
    /* border: 5px solid red; */
    flex-direction: column;
    display: flex;
    min-width: 350px;
    max-width: 350px;
    /* float:left; */
    height: 100vh;
    background-color: rgb(39, 38, 38);

    
}
.right-column{
    /* border: 5px solid red; */
    flex-direction: column;
    display: flex;
    min-width: 1224px;
    max-width: 1224px;
    /* float: right; */
    height: 100vh;
    background-color: black;
} 
#compose-button{
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    width: 60%;
    border-radius: 10px;
    color: white;
   
    background-color: transparent;
    border-color: turquoise;
    
    
    
    

    
}
#compose-button:hover{
background-color: turquoise;
cursor:pointer;
}

.button-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    margin-top: 20px;
}
.profile{
    margin-top: 10px;
    font-size: 10px;
    justify-content: center;
    display: flex;
    /* padding-left: 1%; */
    
}
#image {
    height: 60px;
    padding-top: 1px;
    border-radius: 17px;
    padding-right: 20px;
    
}
.text {
    font-size: 19px;
    margin-top: 15px;
    color: white;
}
.subsection{
    margin-top: 25px;
    background-color: transparent;
    border: none;
    display: flex;
    color: white;
    
    
}
.subsection:hover{
    color: turquoise;
   
}
.subsection-container{
    margin-top: 40px;
}
#search-engine{
    background-color:white;
    border-radius: 10px;
    width: 100%;
    position: relative;
    padding-left: 30px;
}
.magnifying-glass{
    color:gray;
    display: inline-block;
    background: transparent;
    position: absolute;
    z-index: 2;
    border: hidden;
    
}
.search-bar{
    margin-top: 25px;
}
.email-previews{
    margin-top: 20px;


} 
.actual-email{
    margin-top: 50px;
    color: white;
    display:flex;
    flex-direction: column;
}
.actual-email:hover{
    color: turquoise;
    cursor: pointer;
}
p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: lighter;
}
.time-stamp{
    font-style: italic;
}
.email-top {
    display: flex;
    justify-content: space-between;
} 
.email-title {
    
     font-weight: bold;
    font-style: italic;
} 

.to-and-from{
margin-top: 30px;
padding-left: 120px;
}
.to-from-messages{
    font-size: small;
    color: white;

} .selected-email-container{
    background-color: black;
    display: flex;
    justify-content: space-between;
}


     .selected-email-icons{
    display: flex;
    margin-top: 5%;
  
}
.selected-email-trash{
    background: transparent;
    color: white;
    border: hidden;

}.selected-email-trash:hover{
    color: turquoise;
}
.selected-email-reply{
    background: transparent;
    color:white;
    border: hidden;

}.selected-email-reply:hover{
    color: turquoise;
}
 .selected-email-title{
    color: white;
    padding-left: 10%;
    margin-top: 5%;
} .selected-email-options{
    background: transparent;
    color:white;
    border: hidden;

}.selected-email-options:hover{
    color: turquoise;

} 
.email-text-received-container{
    padding-left: 120px;
    max-width: 100%;
}


.email-text{
    color: white;
    margin-top: 40px;
}
.reply-box-container{
    background-color: rgb(39, 38, 38);
    height: 30%;
    margin-top: 160px;
    margin-left: 70px;
  
    
    
} 
.reply-button{
   border-style: solid;
   background-color: transparent;
   border-color: turquoise;
   border-radius: 10px;
   color: white;

}.reply-button:hover{
    background-color: turquoise;
} 
 .reply-button-container{
    display: flex;
    justify-content:space-between;
    margin-top: 21%;
    padding-right: 20px;
}
.attach-file-icon{
    background-color: transparent;
    color: white;
    border:transparent;

}
.attach-file-icon:hover{
    color: turquoise;
}
